
<article>
  <div class="container">
    <div class="contents">
      <%= image_tag 'blog.jpg', :size =>'480x320'%>
    </div>
    <div class="topic">
      <ul>
          <li class="col-xs-12 col-md-4"> このアプリは投稿を保存・閲覧・削除出来ます</li>
          <li class="col-xs-12 col-md-4"> 課題用に作成</li>
          <li class="col-xs-12 col-md-4">レスポンシブデザインで作られています</li>
      </ul>
    </div>
  </div>
</article>
